config ACTUATOR_ENABLED
    bool "Actuator enabled"
        help
            An Actuator can be enabled to trigger a gpio when a button is pressed during the call.

if ACTUATOR_ENABLED

config ACTUATOR_OUTPUT_GPIO
    int "Actuator output GPIO number"
        range 0 34
        default 13
        help
            GPIO number (IOxx) to trigger the actuator for e.g. a door opener
            GPIOs 35-39 are input-only so cannot be used as outputs.

config ACTUATOR_ACTIVE_HIGH
    bool "Actuator output active high type"
        default y
        help
            This is about the hardware configuration of your setup. Active high (true) means the actuator is set to true/high when it is triggered.
            Active low (false) means the actuator is set to false/low when it is triggered.

config ACTUATOR_SWITCHING_DURATION
    int "Actuator switching duration in milliseconds"
        range 500 10000
        default 3000
        help
            This is the duration in milliseconds, the actuator is activated.

config ACTUATOR_PHONE_BUTTON
    string "Actuator phone button character"
        default "#"
        help
            This is a single character which can be pressed to activated the actuator during the call.
            Note: Currently only one character can be used.

endif
